@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


div.node {
  padding: 10px;
  width: 22rem;
  border-radius: 12px;
  border-width: 3px;
  box-sizing: border-box;
  overflow-wrap: anywhere;
  border-color: #38bdf8;
  font-weight: normal;
}

.node :global .react-flow__handle {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
}

path.react-flow__edge-path {
  opacity: 0;
  animation: fadein 0.3s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}


@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px #38bff868;
  }
  100% {
    box-shadow: 0 0 0 12px #38bff868;
  }
}

.node {
  opacity: 0;
  box-shadow: 0 0 0 0px #38bff868;
  animation: fadein 0.8s ease-in-out, pulse-animation 0.65s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1,0;

}

.loading {
  animation-iteration-count: 1,infinite;
}



.node .react-flow__handle {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
}

.tw-node {
  pointer-events: none;
  display: -webkit-box;
  max-width: 22rem;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.node:hover {
  cursor: pointer;
}

.canvas-hide {
  display: none;
  opacity: 0;
}

.canvas-show {
  display: block;
  opacity: 1;

}
