@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

@font-face {
  font-family: 'Argentum Sans';
  src: url('assets/fonts/ArgentumSans-Medium.ttf') format('truetype');
}

:root {
  --color1: #e5b3df;
  --color2: #d1a5fe;
  --color3: #f44324;
  --color4: #1fd1bc;
  --color5: #e822d1;
  --color6: #d1a5fe;
  --color7: #e5b3df;
  background: linear-gradient(105.18deg, #D5FFFC 0%, #BBC2FF 100%);
  min-height: 100%;
}

html, body {
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home {
}

.signin-form-bg {
  background: linear-gradient(105.18deg, #D5FFFC 0%, #BBC2FF 100%);
}
.create-account {
  background: linear-gradient(105.18deg, #D5FFFC 0%, #BBC2FF 100%);
}

.nav-logo {
  -webkit-text-stroke: 1px black;
  font-weight: bold;
  font-size: 40px;
  color: #D7D7D7;
  text-shadow: 2px 2px black;
}

.nav-item {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  background-color: #BBC2FF;
  box-shadow: 3px 3px black;
  width: 87px;
  animation: shiftButtonUp 0.2s ease-in-out;
  position: relative;
}

.nav-item:hover {
  animation: shiftButtonDown 0.2s ease-in-out;
  animation-fill-mode: forwards;

}

@keyframes shiftButtonDown {
  from {
    box-shadow: 3px 3px black;
    top: 0px;
    left: 0px;
  }

  to {
    box-shadow: 0px 0px black;
    top: 2px;
    left: 2px;
  }
}

@keyframes shiftButtonUp {
  from {
    box-shadow: 0px 0px black;
    top: 2px;
    left: 2px;
  }

  to {
    box-shadow: 3px 3px black;
    top: 0px;
    left: 0px;
  }
}
.main-body::before {
  border-radius: 100%;
  content: "";
  display: block;
  height: 100%;
}

.main-body::before {
  filter: blur(40px);

  animation-name: switchMood;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  transition-timing-function: ease;
  transition-property: transform;
  transform: rotate(360deg);

  background: linear-gradient(-330deg, #e5b3df, #d1a5fe, #f44324,
                              #1fd1bc,  #e822d1, #d1a5fe, #e5b3df);
  background-size: 1400% 1400%;
  box-shadow: inset 0 0 10vh rgba(0,0,0,.4);
}

#canvas {
  width: 50%;
  height: 50%;
  display: block;
  position: fixed;
  top: 25%;
  left: 25%;
  z-index: -9999;

  filter: blur(40px);
  border-radius: 50%;
  animation-name: switchMood;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  transition-timing-function: ease;
  transition-property: transform;
  transform: rotate(360deg);

  background: linear-gradient(-330deg, #e5b3df, #d1a5fe, #f44324,
                              #1fd1bc,  #e822d1, #d1a5fe, #e5b3df);
  background-size: 1400% 1400%;
  box-shadow: inset 0 0 10vh rgba(0,0,0,.4);
}

@keyframes switchMood {
  from {background-position: 40% 0%;}
  50% {background-position: 60% 100%;}
  to {background-position: 40% 0%;}
}

.landing-header-text {
  background: linear-gradient(90deg, #30BBB2 0%, #303EBB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

}



.landing-subheader-text {
  font-weight: 500;
  color: #857676;
}
div.node {
  padding: 1rem 1.2rem;
  width: 28rem;
  border-radius: 10px;
  border-width: 3px;
  box-sizing: border-box;
  overflow-wrap: anywhere;
  font-weight: normal;

  border-color: transparent;
}

.node :global .react-flow__handle {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
}

path.react-flow__edge-path {
  opacity: 0;
  animation: fadein 0.3s ease-in-out;
  animation-fill-mode: forwards;
}

.skim-it-btn {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  background-color: #30BBB2;
  box-shadow: 3px 3px black;
  border: 3px solid black;
  font-size: 1.2rem;
  border-radius: 5px;
  padding: 0.1rem 1.2rem;
  animation: shiftButtonUp 0.1s ease-in-out;
  position: relative;
}

.skim-it-btn:hover {
  animation: shiftButtonDown 0.1s ease-in-out;
  animation-fill-mode: forwards;
}


.text-video {
  box-shadow: 0px 4px 16px rgba(17,17,26,0.1), 0px 8px 24px rgba(17,17,26,0.1), 0px 16px 56px rgba(17,17,26,0.1);
  border-radius: 0.4rem;
  background-color: rgba(255, 255, 255, 0.907);
  animation: revertBorderRadius 0.2s ease-in-out;
  animation-fill-mode: forwards;
}

.text-video:focus {
  animation: borderRadius 0.2s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes borderRadius {
  from {
    border-radius: 0.4rem;
  }

  to {
    border-radius: 1.2rem;
  }
}

@keyframes revertBorderRadius {
  from {
    border-radius: 1.2rem;
  }

  to {
    border-radius: 0.4rem;
  }
}


.restart-canvas-btn {
  background-color:#D4FFFC;
  border: 2px solid black;
}

.restart-canvas-txt {
  font-weight: bold;
}




@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}


@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgb(0, 0, 0, 0.15);
  }
  100% {
    box-shadow: 0 0 0 12px rgb(0, 0, 0, 0.15);
  }
}

@keyframes pulse-error-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 0, 0, 0.10);
  }
  100% {
    box-shadow: 0 0 0 12px rgba(255, 0, 0, 0.10);
  }
}

.node {
  border: 5px solid black !important;
  position: relative;
}

.node-start {
  opacity: 0;
  box-shadow: 4px 4px black;
  animation-name: fadein;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

.loading {
  box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.544);
  animation-name: pulse-animation;
  animation-duration:0.65s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

.loading-error {
  box-shadow: 0 0 0 0px rgba(255, 0, 0, 0.05);
  animation-name:pulse-error-animation;
  animation-duration:0.65s;
  animation-timing-function: ease-out;
  animation-iteration-count:infinite;
}


.node .react-flow__handle {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;

}

.tw-node {
  font-size: large;
  pointer-events: none;
  display: -webkit-box;
  max-width: 28rem;
  -webkit-line-clamp: 14;
  -webkit-box-orient: vertical;
  overflow: hidden;

  font-family: 'Argentum Sans', sans-serif;
  color: black;
  font-weight: 500;
  text-align:left;

}
.node-summary {
  background-color: #D4FFFC !important;
}

.node-dotpoint {
  background-color: #BBC2FF !important;
}


.logo0-img {
  width: 55px;
  height: auto;
}
.logo1-img {
  width: 180px;
  height: auto;
}


/* <------------ First Node Click -------------> */
.box {

}
.box span{
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 1s infinite;
}

.box span:nth-child(2)
{
  animation-delay: -0.2s;
}

.box span:nth-child(3)
{
  animation-delay: -0.4s;
}

@keyframes animate{

  0%{
    opacity: 0;
    transform: rotate(45deg) translate(-5px, -5px);
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: rotate(45deg) translate(5px, 5px);
  }
}
